    <aside class="sidebar">
      <h3>Talks</h3>
      <p>Linux Security Meetup Nov 2016<br /><a href="{{ SITEURL }}/talks/dirty-cow.html">Dirty Cow Issue</a></p>
      <p>Embedded Linux Meetup (Lightning Talks) Oct 2016<br /><a href="{{ SITEURL }}/talks/vagrant-intro.html">Introduction to Vagrant</a></p>
      <p>U-Boot Meetup Sep 2016<br /><a href="{{ SITEURL }}/talks/u-boot-boot-flow.html">U-Boot Boot Flow</a></p>
      <p>Chennaipy Meetup Dec 2015<br /><a href="{{ SITEURL }}/talks/python-for-microcontrollers.html">Python for Microcontrollers</a></p>
    </aside>
