{% extends "base.html" %}
{% block title %}{{ tag|striptags }} tag // {{ super() }}{% endblock title %}
{% block pagetitle %}Posts tagged "{{ tag }}"{% endblock pagetitle %}
{% block content %}
    {% include "fragments/sidebar.html" %}
    {% for article in articles_page.object_list %}
    {% if tag in article.tags %}
    <article class="listing">
        <header>
            <h2>
                <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
            </h2>
            <p>
                <meta itemprop="datePublished" content="{{ article.date.isoformat() }}">
                <meta itemprop="dateModified" content="{{ article.date.isoformat() }}">
                {% if GRAVATAR_IMAGE %}
                <meta itemprop="image" content="{{ GRAVATAR_IMAGE }}">
                {% endif %}
                Posted on {{ article.date | strftime('%d %B %Y') }} in
                {% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}">{% if not loop.last %}{{ tag }}, {% else %}{{ tag }}{% endif %}</a>{% endfor %}
            </p>
        </header>

        {% if summarise or article.metadata['summary'] or SUMMARY_MAX_LENGTH %}
            {{ article.summary }}
            <p>Categories: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></p>
            <p><a class="button" href="{{ SITEURL }}/{{ article.url }}">Continue reading</a></p>
        {% else %}
            {{ article.content }}
        {% endif %}
    </article>
    {% endif %}
    {% endfor %}
    {% include "pagination.html" %}
{% endblock %}
